body{
    background-color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}
.header{
    background-color: #FE654F;
    color: white;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.inputs{
    margin-top: 10px;
    margin-left: 10px;
}

.art {
    border: 1px solid #000000;
}

.game-table td {
    padding-left: 10px;
    padding-right: 10px;
}

#view-wait{
    background-color: #FE654F;
    color: white;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.view {
    display: inline-block;
}

.view h1, .view h2, .view h3 {
    margin: 0;
}

#story-stage {
    display: none;
}

input[type=text]  {
    width: 250px;
}

.invis-elm {
    display: none;
}

#view-lobby {
    
}
#host-deck-selection:nth-child(1):hover{
    color: #59b7f1;
}


button{
    background-color: #D6EFFF;
    border-style: solid;
    border-color: rgb(49, 114, 235);
}
button:hover{
    background-color: #59b7f1;
}

