:root {
    --background-color: #bef;
    --font-color: #000;
    --title-color: #fb0;
    --disabled-color: #aaa;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #225;
        --font-color: #99f;
        --title-color: #fb0;
        --disabled-color: #aaa;
    }
}

ul {
    text-align: left;
}

.art {
    border: 1px solid #000;
    background-color: #fff;
}

.game-table {
    margin-left: auto;
    margin-right: auto;
}

.game-table td {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 100px;
}

.view {
    display: inline-block;
}

.view h3 {
    margin: 0;
}

#story-stage {
    display: none;
}

#ending-scroll p {
    margin: 0px;
}

input[type=text] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 80%;
    -webkit-text-stroke-width: 0px;
}

#nick-name {
    width: 30%;
}

#lobby-players {
    padding: 0 0 0 0px;
    margin: 0;
    list-style-type: none;
    text-align: center;
}

.invis-elm {
    display: none;
}

body {
    font-family: "Roboto", sans-serif;
    display: block;
    text-align: center;
    background-color: var(--background-color);
    color: var(--font-color);
}

h1 {
    font-size: 400%;
}

h2 {
    text-align: center;
    color: var(--title-color);
    font-size: 175%;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    margin-bottom: 5px;
}

h4 {
    text-align: center;
    color: var(--title-color);
    font-size: 140%;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

h5 {
    text-align: center;
    color: var(--title-color);
    font-size: 140%;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    margin-bottom: 8px;
}

.disabled {
    color: var(--disabled-color);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    grid-auto-flow: column;
}

.grid-box {
    margin-top: 5px;
    border-style: solid;
    border-image: url('/border.png');
    border-image-slice: 34%;
    border-image-width: 33px;
    border-image-repeat: repeat;
    border-width: 3px;
    width: 400px;
    height: 190px;
}